<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_9NKmsDbDEeqMfurbMase6A" specification="@EventDriven&#xA;// Use the event driven execution model.&#xA;// Runs a run-to-completion step&#xA;// each time an event is raised.&#xA;// Switch to cycle based behavior&#xA;// by specifying '@CycleBased(200)'&#xA;// instead.&#xA;&#xA;@ChildFirstExecution&#xA;// In composite states, execute&#xA;// child states first.&#xA;// @ParentFirstExecution does the opposite.&#xA;&#xA;interface:&#xA;in event push&#xA;in event hold&#xA;&#xA;operation lo()&#xA;operation hi()&#xA;operation off()" name="task3b">
    <regions xmi:id="_9NKmujbDEeqMfurbMase6A" name="ctrl">
      <vertices xsi:type="sgraph:Entry" xmi:id="_9NLNxjbDEeqMfurbMase6A">
        <outgoingTransitions xmi:id="_9NMb4zbDEeqMfurbMase6A" target="_9NLN0jbDEeqMfurbMase6A"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_9NLN0jbDEeqMfurbMase6A" specification="entry / off()" name="off" incomingTransitions="_9NMb4zbDEeqMfurbMase6A _iaUZ0DbEEeqMfurbMase6A">
        <outgoingTransitions xmi:id="_hoeGIDbEEeqMfurbMase6A" specification="push" target="_URgsEDbEEeqMfurbMase6A"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_URgsEDbEEeqMfurbMase6A" specification="entry [active(br.lo)] / lo()&#xA;entry [active(br.hi)] / hi()" name="on" incomingTransitions="_hoeGIDbEEeqMfurbMase6A">
        <outgoingTransitions xmi:id="_iaUZ0DbEEeqMfurbMase6A" specification="push" target="_9NLN0jbDEeqMfurbMase6A"/>
      </vertices>
    </regions>
    <regions xmi:id="_WEXJwDbEEeqMfurbMase6A" name="br">
      <vertices xsi:type="sgraph:Entry" xmi:id="_kUsb0DbEEeqMfurbMase6A">
        <outgoingTransitions xmi:id="_mwBOwDbEEeqMfurbMase6A" specification="" target="_kzJ5cDbEEeqMfurbMase6A"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_kzJ5cDbEEeqMfurbMase6A" specification="" name="lo" incomingTransitions="_mwBOwDbEEeqMfurbMase6A _r8sH8DbEEeqMfurbMase6A">
        <outgoingTransitions xmi:id="_oSV9IDbEEeqMfurbMase6A" specification="hold [active(ctrl.on)]" target="_lIsroDbEEeqMfurbMase6A"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_lIsroDbEEeqMfurbMase6A" name="hi" incomingTransitions="_oSV9IDbEEeqMfurbMase6A">
        <outgoingTransitions xmi:id="_r8sH8DbEEeqMfurbMase6A" specification="hold [active(ctrl.on)]" target="_kzJ5cDbEEeqMfurbMase6A"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_9NKmtzbDEeqMfurbMase6A" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_9NKmsDbDEeqMfurbMase6A" measurementUnit="Pixel">
    <children xmi:id="_9NKmuzbDEeqMfurbMase6A" type="Region" element="_9NKmujbDEeqMfurbMase6A">
      <children xsi:type="notation:DecorationNode" xmi:id="_9NLNwDbDEeqMfurbMase6A" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_9NLNwTbDEeqMfurbMase6A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_9NLNwjbDEeqMfurbMase6A"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_9NLNwzbDEeqMfurbMase6A" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_9NLNxzbDEeqMfurbMase6A" type="Entry" element="_9NLNxjbDEeqMfurbMase6A">
          <children xmi:id="_9NLNyzbDEeqMfurbMase6A" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_9NLNzjbDEeqMfurbMase6A" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_9NLNzzbDEeqMfurbMase6A"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_9NLN0DbDEeqMfurbMase6A"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_9NLNzDbDEeqMfurbMase6A" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_9NLNzTbDEeqMfurbMase6A"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_9NLNyDbDEeqMfurbMase6A" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_9NLNyTbDEeqMfurbMase6A" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_9NLN0TbDEeqMfurbMase6A" x="70" y="20"/>
        </children>
        <children xmi:id="_9NL00TbDEeqMfurbMase6A" type="State" element="_9NLN0jbDEeqMfurbMase6A">
          <children xsi:type="notation:DecorationNode" xmi:id="_9NL01TbDEeqMfurbMase6A" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_9NL01jbDEeqMfurbMase6A"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_9NL01zbDEeqMfurbMase6A"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_9NL02DbDEeqMfurbMase6A" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_9NL02TbDEeqMfurbMase6A" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_9NL02jbDEeqMfurbMase6A"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_9NMb4DbDEeqMfurbMase6A" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_9NL00jbDEeqMfurbMase6A" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_9NL00zbDEeqMfurbMase6A"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_9NMb4TbDEeqMfurbMase6A" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_9NMb4jbDEeqMfurbMase6A" x="40" y="80"/>
        </children>
        <children xmi:id="_URh6MDbEEeqMfurbMase6A" type="State" element="_URgsEDbEEeqMfurbMase6A">
          <children xsi:type="notation:DecorationNode" xmi:id="_URh6NDbEEeqMfurbMase6A" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_URh6NTbEEeqMfurbMase6A"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_URh6NjbEEeqMfurbMase6A"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_URh6NzbEEeqMfurbMase6A" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_URh6ODbEEeqMfurbMase6A" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_URh6OTbEEeqMfurbMase6A"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_URh6OjbEEeqMfurbMase6A" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_URh6MTbEEeqMfurbMase6A" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_URh6MjbEEeqMfurbMase6A"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_URihQDbEEeqMfurbMase6A" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_URh6MzbEEeqMfurbMase6A" x="8" y="193"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_9NLNxDbDEeqMfurbMase6A"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_9NKmvDbDEeqMfurbMase6A" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_9NLNxTbDEeqMfurbMase6A" x="220" y="10" width="181" height="400"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_9NNC8DbDEeqMfurbMase6A" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_9NNC8jbDEeqMfurbMase6A" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_9NNC8zbDEeqMfurbMase6A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_9NNC9DbDEeqMfurbMase6A"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_9NNC9TbDEeqMfurbMase6A" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_9NNC9jbDEeqMfurbMase6A"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_9NNC9zbDEeqMfurbMase6A" x="10" y="10" width="200" height="400"/>
    </children>
    <children xmi:id="_WEYX4DbEEeqMfurbMase6A" type="Region" element="_WEXJwDbEEeqMfurbMase6A">
      <children xsi:type="notation:DecorationNode" xmi:id="_WEYX4zbEEeqMfurbMase6A" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_WEYX5DbEEeqMfurbMase6A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_WEYX5TbEEeqMfurbMase6A"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_WEY-8DbEEeqMfurbMase6A" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_kUtC4DbEEeqMfurbMase6A" type="Entry" element="_kUsb0DbEEeqMfurbMase6A">
          <children xmi:id="_kUtp8DbEEeqMfurbMase6A" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_kUtp8zbEEeqMfurbMase6A" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_kUtp9DbEEeqMfurbMase6A"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_kUtp9TbEEeqMfurbMase6A"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_kUtp8TbEEeqMfurbMase6A" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_kUtp8jbEEeqMfurbMase6A"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_kUtC4TbEEeqMfurbMase6A" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_kUtC4jbEEeqMfurbMase6A" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_kUtC4zbEEeqMfurbMase6A" x="27" y="17"/>
        </children>
        <children xmi:id="_kzKggDbEEeqMfurbMase6A" type="State" element="_kzJ5cDbEEeqMfurbMase6A">
          <children xsi:type="notation:DecorationNode" xmi:id="_kzLHkDbEEeqMfurbMase6A" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_kzLHkTbEEeqMfurbMase6A"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_kzLHkjbEEeqMfurbMase6A"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_kzLHkzbEEeqMfurbMase6A" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_kzLHlDbEEeqMfurbMase6A" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_kzLHlTbEEeqMfurbMase6A"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_kzLHljbEEeqMfurbMase6A" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_kzKggTbEEeqMfurbMase6A" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_kzKggjbEEeqMfurbMase6A"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_kzLHlzbEEeqMfurbMase6A" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_kzKggzbEEeqMfurbMase6A" x="109" y="17"/>
        </children>
        <children xmi:id="_lIt5wDbEEeqMfurbMase6A" type="State" element="_lIsroDbEEeqMfurbMase6A">
          <children xsi:type="notation:DecorationNode" xmi:id="_lIug0DbEEeqMfurbMase6A" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_lIug0TbEEeqMfurbMase6A"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_lIug0jbEEeqMfurbMase6A"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_lIug0zbEEeqMfurbMase6A" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_lIug1DbEEeqMfurbMase6A" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_lIug1TbEEeqMfurbMase6A"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_lIug1jbEEeqMfurbMase6A" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_lIt5wTbEEeqMfurbMase6A" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_lIt5wjbEEeqMfurbMase6A"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_lIug1zbEEeqMfurbMase6A" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_lIt5wzbEEeqMfurbMase6A" x="109" y="149"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_WEY-8TbEEeqMfurbMase6A"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_WEYX4TbEEeqMfurbMase6A" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_WEYX4jbEEeqMfurbMase6A" x="400" y="10" width="366" height="400"/>
    </children>
    <styles xsi:type="notation:BooleanValueStyle" xmi:id="_9NKmuDbDEeqMfurbMase6A" name="inlineDefinitionSection"/>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_9NKmuTbDEeqMfurbMase6A"/>
    <edges xmi:id="_9NMb5DbDEeqMfurbMase6A" type="Transition" element="_9NMb4zbDEeqMfurbMase6A" source="_9NLNxzbDEeqMfurbMase6A" target="_9NL00TbDEeqMfurbMase6A">
      <children xsi:type="notation:DecorationNode" xmi:id="_9NMb6DbDEeqMfurbMase6A" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_9NMb6TbDEeqMfurbMase6A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_9NMb6jbDEeqMfurbMase6A" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_9NMb5TbDEeqMfurbMase6A" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_9NMb5zbDEeqMfurbMase6A" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_9NMb5jbDEeqMfurbMase6A" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
    </edges>
    <edges xmi:id="_hofUQDbEEeqMfurbMase6A" type="Transition" element="_hoeGIDbEEeqMfurbMase6A" source="_9NL00TbDEeqMfurbMase6A" target="_URh6MDbEEeqMfurbMase6A">
      <children xsi:type="notation:DecorationNode" xmi:id="_hofURDbEEeqMfurbMase6A" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_hofURTbEEeqMfurbMase6A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_hofURjbEEeqMfurbMase6A" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_hofUQTbEEeqMfurbMase6A" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_hofUQzbEEeqMfurbMase6A" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_hofUQjbEEeqMfurbMase6A" points="[9, 7, 4, -73]$[9, 72, 4, -8]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_hogiYDbEEeqMfurbMase6A" id="(0.6781609195402298,0.8679245283018868)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_hogiYTbEEeqMfurbMase6A" id="(0.6233766233766234,0.16666666666666666)"/>
    </edges>
    <edges xmi:id="_iaVA4DbEEeqMfurbMase6A" type="Transition" element="_iaUZ0DbEEeqMfurbMase6A" source="_URh6MDbEEeqMfurbMase6A" target="_9NL00TbDEeqMfurbMase6A">
      <children xsi:type="notation:DecorationNode" xmi:id="_iaVn8DbEEeqMfurbMase6A" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_iaVn8TbEEeqMfurbMase6A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_iaVn8jbEEeqMfurbMase6A" x="-3" y="-15"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_iaVA4TbEEeqMfurbMase6A" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_iaVA4zbEEeqMfurbMase6A" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_iaVA4jbEEeqMfurbMase6A" points="[5, -4, 2, 79]$[5, -69, 2, 14]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_iaW2EDbEEeqMfurbMase6A" id="(0.3116883116883117,0.09259259259259259)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_iaW2ETbEEeqMfurbMase6A" id="(0.21839080459770116,0.7169811320754716)"/>
    </edges>
    <edges xmi:id="_mwB10DbEEeqMfurbMase6A" type="Transition" element="_mwBOwDbEEeqMfurbMase6A" source="_kUtC4DbEEeqMfurbMase6A" target="_kzKggDbEEeqMfurbMase6A">
      <children xsi:type="notation:DecorationNode" xmi:id="_mwB11DbEEeqMfurbMase6A" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_mwB11TbEEeqMfurbMase6A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_mwB11jbEEeqMfurbMase6A" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_mwB10TbEEeqMfurbMase6A" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_mwB10zbEEeqMfurbMase6A" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_mwB10jbEEeqMfurbMase6A" points="[0, 7, -82, 2]$[83, -7, 1, -12]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_mwDD8DbEEeqMfurbMase6A" id="(0.2,0.2641509433962264)"/>
    </edges>
    <edges xmi:id="_oSWkMDbEEeqMfurbMase6A" type="Transition" element="_oSV9IDbEEeqMfurbMase6A" source="_kzKggDbEEeqMfurbMase6A" target="_lIt5wDbEEeqMfurbMase6A">
      <children xsi:type="notation:DecorationNode" xmi:id="_oSXLQDbEEeqMfurbMase6A" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_oSXLQTbEEeqMfurbMase6A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_oSXLQjbEEeqMfurbMase6A" x="-4" y="66"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_oSWkMTbEEeqMfurbMase6A" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_oSWkMzbEEeqMfurbMase6A" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_oSWkMjbEEeqMfurbMase6A" points="[9, 20, 2, -113]$[9, 152, 2, 19]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_oSYZYDbEEeqMfurbMase6A" id="(0.0,0.5849056603773585)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_oSYZYTbEEeqMfurbMase6A" id="(0.225,0.6226415094339622)"/>
    </edges>
    <edges xmi:id="_r8svADbEEeqMfurbMase6A" type="Transition" element="_r8sH8DbEEeqMfurbMase6A" source="_lIt5wDbEEeqMfurbMase6A" target="_kzKggDbEEeqMfurbMase6A">
      <children xsi:type="notation:DecorationNode" xmi:id="_r8svBDbEEeqMfurbMase6A" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_r8svBTbEEeqMfurbMase6A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_r8svBjbEEeqMfurbMase6A" x="-20" y="64"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_r8svATbEEeqMfurbMase6A" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_r8svAzbEEeqMfurbMase6A" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_r8svAjbEEeqMfurbMase6A" points="[0, -4, -8, 94]$[12, -88, 4, 10]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_r8t9IDbEEeqMfurbMase6A" id="(0.55,0.09433962264150944)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_r8t9ITbEEeqMfurbMase6A" id="(0.775,0.8113207547169812)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
