<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_uQo9EKJ4EeaA1L71UkDjYA" specification="interface UI:&#xD;&#xA;in event switch&#xD;&#xA;in event flash&#xD;&#xA;operation turnOff()&#xD;&#xA;operation turnOn()" name="lamp">
    <regions xmi:id="_uRNk0qJ4EeaA1L71UkDjYA" name="lamp">
      <vertices xsi:type="sgraph:Entry" xmi:id="_uR3sIKJ4EeaA1L71UkDjYA">
        <outgoingTransitions xmi:id="_uSGVoKJ4EeaA1L71UkDjYA" target="_uR7WgKJ4EeaA1L71UkDjYA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_uR7WgKJ4EeaA1L71UkDjYA" specification="entry/UI.turnOff()" name="off" incomingTransitions="_uSGVoKJ4EeaA1L71UkDjYA _gFG2AKJ5EeaA1L71UkDjYA">
        <outgoingTransitions xmi:id="_QAEFEKJ5EeaA1L71UkDjYA" specification="UI.switch" target="_Hn45MKJ5EeaA1L71UkDjYA"/>
        <outgoingTransitions xmi:id="_EE4IoKJ9EeaA1L71UkDjYA" specification="UI.flash" target="_tWxJUDLfEeqBi54aD5x9_w"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_Hn45MKJ5EeaA1L71UkDjYA" specification="entry/UI.turnOn()" name="on" incomingTransitions="_QAEFEKJ5EeaA1L71UkDjYA _VHEeUKJ9EeaA1L71UkDjYA _n1ZWADLgEeqBi54aD5x9_w">
        <outgoingTransitions xmi:id="_gFG2AKJ5EeaA1L71UkDjYA" specification="UI.switch" target="_uR7WgKJ4EeaA1L71UkDjYA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_tWxJUDLfEeqBi54aD5x9_w" name="Flashing 1s" incomingTransitions="_EE4IoKJ9EeaA1L71UkDjYA _X12JEDLgEeqBi54aD5x9_w">
        <outgoingTransitions xmi:id="_VHEeUKJ9EeaA1L71UkDjYA" specification="UI.switch" target="_Hn45MKJ5EeaA1L71UkDjYA"/>
        <outgoingTransitions xmi:id="_QMr_UDLgEeqBi54aD5x9_w" specification="UI.flash" target="_BB1lwDLgEeqBi54aD5x9_w"/>
        <regions xmi:id="_VsivsDLfEeqBi54aD5x9_w" name="Flashing 1s Region">
          <vertices xsi:type="sgraph:State" xmi:id="_-vq-gKJ8EeaA1L71UkDjYA" specification="entry/UI.turnOn()" name="flash_on" incomingTransitions="_Qo0KUKJ9EeaA1L71UkDjYA _NV9CwDLgEeqBi54aD5x9_w">
            <outgoingTransitions xmi:id="_IIg9MKJ9EeaA1L71UkDjYA" specification="after 1s" target="_AksmcKJ9EeaA1L71UkDjYA"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_AksmcKJ9EeaA1L71UkDjYA" specification="entry/UI.turnOff()" name="flash_off" incomingTransitions="_IIg9MKJ9EeaA1L71UkDjYA">
            <outgoingTransitions xmi:id="_Qo0KUKJ9EeaA1L71UkDjYA" specification="after 1s" target="_-vq-gKJ8EeaA1L71UkDjYA"/>
          </vertices>
          <vertices xsi:type="sgraph:Entry" xmi:id="_MuVCEDLgEeqBi54aD5x9_w">
            <outgoingTransitions xmi:id="_NV9CwDLgEeqBi54aD5x9_w" specification="" target="_-vq-gKJ8EeaA1L71UkDjYA"/>
          </vertices>
        </regions>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_BB1lwDLgEeqBi54aD5x9_w" name="Flashing 0.5s" incomingTransitions="_QMr_UDLgEeqBi54aD5x9_w">
        <outgoingTransitions xmi:id="_X12JEDLgEeqBi54aD5x9_w" specification="UI.flash" target="_tWxJUDLfEeqBi54aD5x9_w"/>
        <outgoingTransitions xmi:id="_n1ZWADLgEeqBi54aD5x9_w" specification="UI.switch" target="_Hn45MKJ5EeaA1L71UkDjYA"/>
        <regions xmi:id="_BB2M0jLgEeqBi54aD5x9_w" name="Flashing 0.5s Region">
          <vertices xsi:type="sgraph:State" xmi:id="_BB2M0zLgEeqBi54aD5x9_w" specification="entry/UI.turnOn()" name="flash_on" incomingTransitions="_BB2z5zLgEeqBi54aD5x9_w _OLh_4DLgEeqBi54aD5x9_w">
            <outgoingTransitions xmi:id="_BB2M2zLgEeqBi54aD5x9_w" specification="after 1/2s" target="_BB2M4DLgEeqBi54aD5x9_w"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_BB2M4DLgEeqBi54aD5x9_w" specification="entry/UI.turnOff()" name="flash_off" incomingTransitions="_BB2M2zLgEeqBi54aD5x9_w">
            <outgoingTransitions xmi:id="_BB2z5zLgEeqBi54aD5x9_w" specification="after 1/2s" target="_BB2M0zLgEeqBi54aD5x9_w"/>
          </vertices>
          <vertices xsi:type="sgraph:Entry" xmi:id="_N0-hEDLgEeqBi54aD5x9_w">
            <outgoingTransitions xmi:id="_OLh_4DLgEeqBi54aD5x9_w" specification="" target="_BB2M0zLgEeqBi54aD5x9_w"/>
          </vertices>
        </regions>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_uRNk0KJ4EeaA1L71UkDjYA" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_uQo9EKJ4EeaA1L71UkDjYA" measurementUnit="Pixel">
    <children xmi:id="_uRXV0KJ4EeaA1L71UkDjYA" type="Region" element="_uRNk0qJ4EeaA1L71UkDjYA">
      <children xsi:type="notation:DecorationNode" xmi:id="_uRyzoKJ4EeaA1L71UkDjYA" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_uRyzoaJ4EeaA1L71UkDjYA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_uRyzoqJ4EeaA1L71UkDjYA"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_uR0o0KJ4EeaA1L71UkDjYA" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_uR46QKJ4EeaA1L71UkDjYA" type="Entry" element="_uR3sIKJ4EeaA1L71UkDjYA">
          <children xmi:id="_uR5hUKJ4EeaA1L71UkDjYA" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_uR6IYKJ4EeaA1L71UkDjYA" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_uR6IYaJ4EeaA1L71UkDjYA"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_uR6IYqJ4EeaA1L71UkDjYA"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_uR5hUaJ4EeaA1L71UkDjYA" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_uR5hUqJ4EeaA1L71UkDjYA"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_uR46QaJ4EeaA1L71UkDjYA" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_uR46QqJ4EeaA1L71UkDjYA" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_uR6IY6J4EeaA1L71UkDjYA" x="70" y="20" width="15" height="15"/>
        </children>
        <children xmi:id="_uR_n8aJ4EeaA1L71UkDjYA" type="State" element="_uR7WgKJ4EeaA1L71UkDjYA">
          <children xsi:type="notation:DecorationNode" xmi:id="_uSA2EKJ4EeaA1L71UkDjYA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_uSA2EaJ4EeaA1L71UkDjYA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_uSA2EqJ4EeaA1L71UkDjYA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_uSCrQKJ4EeaA1L71UkDjYA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_uSDSUKJ4EeaA1L71UkDjYA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_uSDSUaJ4EeaA1L71UkDjYA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_uSDSUqJ4EeaA1L71UkDjYA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_uR_n8qJ4EeaA1L71UkDjYA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_uR_n86J4EeaA1L71UkDjYA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_uSEgcKJ4EeaA1L71UkDjYA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_uSFHgKJ4EeaA1L71UkDjYA" x="40" y="80" width="150" height="53"/>
        </children>
        <children xmi:id="_Hn7VcKJ5EeaA1L71UkDjYA" type="State" element="_Hn45MKJ5EeaA1L71UkDjYA">
          <children xsi:type="notation:DecorationNode" xmi:id="_Hn8jkKJ5EeaA1L71UkDjYA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_Hn8jkaJ5EeaA1L71UkDjYA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_Hn8jkqJ5EeaA1L71UkDjYA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_Hn8jk6J5EeaA1L71UkDjYA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_Hn8jlKJ5EeaA1L71UkDjYA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Hn8jlaJ5EeaA1L71UkDjYA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_Hn9KoKJ5EeaA1L71UkDjYA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_Hn7VcaJ5EeaA1L71UkDjYA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_Hn7VcqJ5EeaA1L71UkDjYA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_Hn9KoaJ5EeaA1L71UkDjYA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Hn7Vc6J5EeaA1L71UkDjYA" x="43" y="252" width="147" height="53"/>
        </children>
        <children xmi:id="_tWyXcDLfEeqBi54aD5x9_w" type="State" element="_tWxJUDLfEeqBi54aD5x9_w">
          <children xsi:type="notation:DecorationNode" xmi:id="_tWy-gDLfEeqBi54aD5x9_w" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_tWy-gTLfEeqBi54aD5x9_w"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_tWy-gjLfEeqBi54aD5x9_w"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_tWzlkDLfEeqBi54aD5x9_w" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_tWzlkTLfEeqBi54aD5x9_w" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_tWzlkjLfEeqBi54aD5x9_w"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_tW0MoDLfEeqBi54aD5x9_w" type="StateFigureCompartment">
            <children xmi:id="_VslzADLfEeqBi54aD5x9_w" type="Region" element="_VsivsDLfEeqBi54aD5x9_w">
              <children xsi:type="notation:DecorationNode" xmi:id="_VsmaEDLfEeqBi54aD5x9_w" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_VsmaETLfEeqBi54aD5x9_w"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_VsmaEjLfEeqBi54aD5x9_w"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_VsmaEzLfEeqBi54aD5x9_w" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_-vszsKJ8EeaA1L71UkDjYA" type="State" element="_-vq-gKJ8EeaA1L71UkDjYA">
                  <children xsi:type="notation:DecorationNode" xmi:id="_-vtawKJ8EeaA1L71UkDjYA" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_-vtawaJ8EeaA1L71UkDjYA"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_-vtawqJ8EeaA1L71UkDjYA"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_-vuo4KJ8EeaA1L71UkDjYA" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_-vuo4aJ8EeaA1L71UkDjYA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_-vuo4qJ8EeaA1L71UkDjYA"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_-vvP8KJ8EeaA1L71UkDjYA" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_-vszsaJ8EeaA1L71UkDjYA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_-vszsqJ8EeaA1L71UkDjYA"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_-vvP8aJ8EeaA1L71UkDjYA" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_-vszs6J8EeaA1L71UkDjYA" x="-45" y="34" width="170"/>
                </children>
                <children xmi:id="_Akt0kKJ9EeaA1L71UkDjYA" type="State" element="_AksmcKJ9EeaA1L71UkDjYA">
                  <children xsi:type="notation:DecorationNode" xmi:id="_AkuboKJ9EeaA1L71UkDjYA" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_AkuboaJ9EeaA1L71UkDjYA"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_AkvCsKJ9EeaA1L71UkDjYA"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_AkvCsaJ9EeaA1L71UkDjYA" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_AkvCsqJ9EeaA1L71UkDjYA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_AkvCs6J9EeaA1L71UkDjYA"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_AkvCtKJ9EeaA1L71UkDjYA" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_Akt0kaJ9EeaA1L71UkDjYA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_Akt0kqJ9EeaA1L71UkDjYA"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_AkvpwKJ9EeaA1L71UkDjYA" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Akt0k6J9EeaA1L71UkDjYA" x="-45" y="182" width="170"/>
                </children>
                <children xmi:id="_MuWQMDLgEeqBi54aD5x9_w" type="Entry" element="_MuVCEDLgEeqBi54aD5x9_w">
                  <children xmi:id="_MuW3QDLgEeqBi54aD5x9_w" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_MuW3QzLgEeqBi54aD5x9_w" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_MuW3RDLgEeqBi54aD5x9_w"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_MuW3RTLgEeqBi54aD5x9_w"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_MuW3QTLgEeqBi54aD5x9_w" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_MuW3QjLgEeqBi54aD5x9_w"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_MuWQMTLgEeqBi54aD5x9_w" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                  <styles xsi:type="notation:NamedStyle" xmi:id="_MuWQMjLgEeqBi54aD5x9_w" name="allowColors"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_MuWQMzLgEeqBi54aD5x9_w" x="58" y="-11"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_VsmaFDLfEeqBi54aD5x9_w"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_VslzATLfEeqBi54aD5x9_w" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_VslzAjLfEeqBi54aD5x9_w" x="684" y="200" width="264" height="254"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_tWyXcTLfEeqBi54aD5x9_w" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_tWyXcjLfEeqBi54aD5x9_w"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_tW0MoTLfEeqBi54aD5x9_w" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_tWyXczLfEeqBi54aD5x9_w" x="361" y="34" width="218" height="354"/>
        </children>
        <children xmi:id="_BB0XoDLgEeqBi54aD5x9_w" type="State" element="_BB1lwDLgEeqBi54aD5x9_w">
          <children xsi:type="notation:DecorationNode" xmi:id="_BB0XoTLgEeqBi54aD5x9_w" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_BB0XojLgEeqBi54aD5x9_w"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_BB0XozLgEeqBi54aD5x9_w"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_BB0XpDLgEeqBi54aD5x9_w" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_BB0XpTLgEeqBi54aD5x9_w" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_BB0XpjLgEeqBi54aD5x9_w"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_BB0XpzLgEeqBi54aD5x9_w" type="StateFigureCompartment">
            <children xmi:id="_BB0XqDLgEeqBi54aD5x9_w" type="Region" element="_BB2M0jLgEeqBi54aD5x9_w">
              <children xsi:type="notation:DecorationNode" xmi:id="_BB0XqTLgEeqBi54aD5x9_w" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_BB0XqjLgEeqBi54aD5x9_w"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_BB0XqzLgEeqBi54aD5x9_w"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_BB0XrDLgEeqBi54aD5x9_w" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_BB0XrTLgEeqBi54aD5x9_w" type="State" element="_BB2M0zLgEeqBi54aD5x9_w">
                  <children xsi:type="notation:DecorationNode" xmi:id="_BB0XrjLgEeqBi54aD5x9_w" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_BB0XrzLgEeqBi54aD5x9_w"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_BB0XsDLgEeqBi54aD5x9_w"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_BB0XsTLgEeqBi54aD5x9_w" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_BB0XsjLgEeqBi54aD5x9_w" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_BB0XszLgEeqBi54aD5x9_w"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_BB0XtDLgEeqBi54aD5x9_w" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_BB0XtTLgEeqBi54aD5x9_w" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_BB0XtjLgEeqBi54aD5x9_w"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_BB0XtzLgEeqBi54aD5x9_w" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_BB0XuDLgEeqBi54aD5x9_w" x="-45" y="34" width="170"/>
                </children>
                <children xmi:id="_BB0XuTLgEeqBi54aD5x9_w" type="State" element="_BB2M4DLgEeqBi54aD5x9_w">
                  <children xsi:type="notation:DecorationNode" xmi:id="_BB0XujLgEeqBi54aD5x9_w" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_BB0XuzLgEeqBi54aD5x9_w"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_BB0XvDLgEeqBi54aD5x9_w"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_BB0XvTLgEeqBi54aD5x9_w" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_BB0XvjLgEeqBi54aD5x9_w" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_BB0XvzLgEeqBi54aD5x9_w"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_BB0XwDLgEeqBi54aD5x9_w" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_BB0XwTLgEeqBi54aD5x9_w" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_BB0XwjLgEeqBi54aD5x9_w"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_BB0XwzLgEeqBi54aD5x9_w" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_BB0XxDLgEeqBi54aD5x9_w" x="-45" y="182" width="170"/>
                </children>
                <children xmi:id="_N0_IIDLgEeqBi54aD5x9_w" type="Entry" element="_N0-hEDLgEeqBi54aD5x9_w">
                  <children xmi:id="_N0_vMDLgEeqBi54aD5x9_w" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_N0_vMzLgEeqBi54aD5x9_w" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_N0_vNDLgEeqBi54aD5x9_w"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_N0_vNTLgEeqBi54aD5x9_w"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_N0_vMTLgEeqBi54aD5x9_w" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_N0_vMjLgEeqBi54aD5x9_w"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_N0_IITLgEeqBi54aD5x9_w" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                  <styles xsi:type="notation:NamedStyle" xmi:id="_N0_IIjLgEeqBi54aD5x9_w" name="allowColors"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_N0_IIzLgEeqBi54aD5x9_w" x="10"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_BB0XxTLgEeqBi54aD5x9_w"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_BB0XxjLgEeqBi54aD5x9_w" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_BB0XxzLgEeqBi54aD5x9_w" x="684" y="200" width="264" height="254"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_BB0XyDLgEeqBi54aD5x9_w" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_BB0XyTLgEeqBi54aD5x9_w"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_BB0XyjLgEeqBi54aD5x9_w" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_BB0XyzLgEeqBi54aD5x9_w" x="653" y="41" width="218" height="354"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_uR0o0aJ4EeaA1L71UkDjYA"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_uRXV0aJ4EeaA1L71UkDjYA" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_uR128KJ4EeaA1L71UkDjYA" x="220" y="10" width="907" height="659"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_uSRUwKJ4EeaA1L71UkDjYA" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_uSRUwqJ4EeaA1L71UkDjYA" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_uSRUw6J4EeaA1L71UkDjYA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_uSR70KJ4EeaA1L71UkDjYA"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_uSR70aJ4EeaA1L71UkDjYA" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_uSR70qJ4EeaA1L71UkDjYA"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_uSR706J4EeaA1L71UkDjYA" x="10" y="10" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_uRNk0aJ4EeaA1L71UkDjYA"/>
    <edges xmi:id="_uSPfkKJ4EeaA1L71UkDjYA" type="Transition" element="_uSGVoKJ4EeaA1L71UkDjYA" source="_uR46QKJ4EeaA1L71UkDjYA" target="_uR_n8aJ4EeaA1L71UkDjYA">
      <children xsi:type="notation:DecorationNode" xmi:id="_uSQGoaJ4EeaA1L71UkDjYA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_uSQGoqJ4EeaA1L71UkDjYA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_uSQGo6J4EeaA1L71UkDjYA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_uSPfkaJ4EeaA1L71UkDjYA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_uSQGoKJ4EeaA1L71UkDjYA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_uSPfkqJ4EeaA1L71UkDjYA" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
    </edges>
    <edges xmi:id="_QAF6QKJ5EeaA1L71UkDjYA" type="Transition" element="_QAEFEKJ5EeaA1L71UkDjYA" source="_uR_n8aJ4EeaA1L71UkDjYA" target="_Hn7VcKJ5EeaA1L71UkDjYA">
      <children xsi:type="notation:DecorationNode" xmi:id="_QAGhUKJ5EeaA1L71UkDjYA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_QAGhUaJ5EeaA1L71UkDjYA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_QAGhUqJ5EeaA1L71UkDjYA" y="-39"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_QAF6QaJ5EeaA1L71UkDjYA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_QAF6Q6J5EeaA1L71UkDjYA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_QAF6QqJ5EeaA1L71UkDjYA" points="[-1, 0, 5, -151]$[-1, 172, 5, 21]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_QAJkoKJ5EeaA1L71UkDjYA" id="(0.86,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_QAJkoaJ5EeaA1L71UkDjYA" id="(0.8163265306122449,0.5660377358490566)"/>
    </edges>
    <edges xmi:id="_gFIEIKJ5EeaA1L71UkDjYA" type="Transition" element="_gFG2AKJ5EeaA1L71UkDjYA" source="_Hn7VcKJ5EeaA1L71UkDjYA" target="_uR_n8aJ4EeaA1L71UkDjYA">
      <children xsi:type="notation:DecorationNode" xmi:id="_gFIrMaJ5EeaA1L71UkDjYA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_gFIrMqJ5EeaA1L71UkDjYA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_gFIrM6J5EeaA1L71UkDjYA" y="-37"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_gFIEIaJ5EeaA1L71UkDjYA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_gFIrMKJ5EeaA1L71UkDjYA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_gFIEIqJ5EeaA1L71UkDjYA" points="[4, -28, -22, 141]$[28, -152, 2, 17]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_gFKgYKJ5EeaA1L71UkDjYA" id="(0.2108843537414966,0.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_gFLHcKJ5EeaA1L71UkDjYA" id="(0.20666666666666667,0.660377358490566)"/>
    </edges>
    <edges xmi:id="_EE5WwKJ9EeaA1L71UkDjYA" type="Transition" element="_EE4IoKJ9EeaA1L71UkDjYA" source="_uR_n8aJ4EeaA1L71UkDjYA" target="_tWyXcDLfEeqBi54aD5x9_w">
      <children xsi:type="notation:DecorationNode" xmi:id="_EE590KJ9EeaA1L71UkDjYA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_EE590aJ9EeaA1L71UkDjYA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_EE590qJ9EeaA1L71UkDjYA" x="1" y="-16"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_EE5WwaJ9EeaA1L71UkDjYA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_EE5Ww6J9EeaA1L71UkDjYA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_EE5WwqJ9EeaA1L71UkDjYA" points="[1, 17, 1, 17]$[1, 17, 1, 17]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_EE7L8aJ9EeaA1L71UkDjYA" id="(0.013851319839567205,0.2542372881355932)"/>
    </edges>
    <edges xmi:id="_IIhkQKJ9EeaA1L71UkDjYA" type="Transition" element="_IIg9MKJ9EeaA1L71UkDjYA" source="_-vszsKJ8EeaA1L71UkDjYA" target="_Akt0kKJ9EeaA1L71UkDjYA">
      <children xsi:type="notation:DecorationNode" xmi:id="_IIiLUaJ9EeaA1L71UkDjYA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_IIiLUqJ9EeaA1L71UkDjYA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_IIiLU6J9EeaA1L71UkDjYA" x="10" y="-29"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_IIhkQaJ9EeaA1L71UkDjYA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_IIiLUKJ9EeaA1L71UkDjYA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_IIhkQqJ9EeaA1L71UkDjYA" points="[0, 0, 15, -152]$[-11, 162, 4, 10]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_IIkAgKJ9EeaA1L71UkDjYA" id="(0.7647058823529411,0.9056603773584907)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_IIkAgaJ9EeaA1L71UkDjYA" id="(0.788235294117647,0.8113207547169812)"/>
    </edges>
    <edges xmi:id="_Qo1_gKJ9EeaA1L71UkDjYA" type="Transition" element="_Qo0KUKJ9EeaA1L71UkDjYA" source="_Akt0kKJ9EeaA1L71UkDjYA" target="_-vszsKJ8EeaA1L71UkDjYA">
      <children xsi:type="notation:DecorationNode" xmi:id="_Qo2mkKJ9EeaA1L71UkDjYA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Qo2mkaJ9EeaA1L71UkDjYA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Qo2mkqJ9EeaA1L71UkDjYA" y="31"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Qo1_gaJ9EeaA1L71UkDjYA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Qo1_g6J9EeaA1L71UkDjYA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Qo1_gqJ9EeaA1L71UkDjYA" points="[-2, 0, 2, 141]$[-2, -162, 2, -21]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Qo30sKJ9EeaA1L71UkDjYA" id="(0.25882352941176473,0.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Qo30saJ9EeaA1L71UkDjYA" id="(0.2352941176470588,0.45283018867924535)"/>
    </edges>
    <edges xmi:id="_VHFscKJ9EeaA1L71UkDjYA" type="Transition" element="_VHEeUKJ9EeaA1L71UkDjYA" source="_tWyXcDLfEeqBi54aD5x9_w" target="_Hn7VcKJ5EeaA1L71UkDjYA">
      <children xsi:type="notation:DecorationNode" xmi:id="_VHGTgKJ9EeaA1L71UkDjYA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_VHGTgaJ9EeaA1L71UkDjYA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_VHGTgqJ9EeaA1L71UkDjYA" x="-41" y="-30"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_VHFscaJ9EeaA1L71UkDjYA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_VHFsc6J9EeaA1L71UkDjYA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_VHFscqJ9EeaA1L71UkDjYA" points="[-44, 34, 210, -156]$[-249, 172, 5, -18]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_VHHhoKJ9EeaA1L71UkDjYA" id="(0.013851319839567205,0.7570621468926554)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_VHHhoaJ9EeaA1L71UkDjYA" id="(0.8979591836734694,0.37735849056603776)"/>
    </edges>
    <edges xmi:id="_BB4CADLgEeqBi54aD5x9_w" type="Transition" element="_BB2M2zLgEeqBi54aD5x9_w" source="_BB0XrTLgEeqBi54aD5x9_w" target="_BB0XuTLgEeqBi54aD5x9_w">
      <children xsi:type="notation:DecorationNode" xmi:id="_BB4CATLgEeqBi54aD5x9_w" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_BB4CAjLgEeqBi54aD5x9_w"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_BB4CAzLgEeqBi54aD5x9_w" x="10" y="-29"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_BB4CBDLgEeqBi54aD5x9_w" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_BB4CBTLgEeqBi54aD5x9_w" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_BB4CBjLgEeqBi54aD5x9_w" points="[0, 0, 15, -152]$[-11, 162, 4, 10]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_BB4CBzLgEeqBi54aD5x9_w" id="(0.7647058823529411,0.9056603773584907)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_BB4CCDLgEeqBi54aD5x9_w" id="(0.788235294117647,0.8113207547169812)"/>
    </edges>
    <edges xmi:id="_BB4pEDLgEeqBi54aD5x9_w" type="Transition" element="_BB2z5zLgEeqBi54aD5x9_w" source="_BB0XuTLgEeqBi54aD5x9_w" target="_BB0XrTLgEeqBi54aD5x9_w">
      <children xsi:type="notation:DecorationNode" xmi:id="_BB4pETLgEeqBi54aD5x9_w" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_BB4pEjLgEeqBi54aD5x9_w"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_BB4pEzLgEeqBi54aD5x9_w" y="31"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_BB4pFDLgEeqBi54aD5x9_w" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_BB4pFTLgEeqBi54aD5x9_w" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_BB4pFjLgEeqBi54aD5x9_w" points="[-2, 0, 2, 141]$[-2, -162, 2, -21]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_BB4pFzLgEeqBi54aD5x9_w" id="(0.25882352941176473,0.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_BB4pGDLgEeqBi54aD5x9_w" id="(0.2352941176470588,0.45283018867924535)"/>
    </edges>
    <edges xmi:id="_NV-Q4DLgEeqBi54aD5x9_w" type="Transition" element="_NV9CwDLgEeqBi54aD5x9_w" source="_MuWQMDLgEeqBi54aD5x9_w" target="_-vszsKJ8EeaA1L71UkDjYA">
      <children xsi:type="notation:DecorationNode" xmi:id="_NV-Q5DLgEeqBi54aD5x9_w" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_NV-Q5TLgEeqBi54aD5x9_w"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_NV-Q5jLgEeqBi54aD5x9_w" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_NV-Q4TLgEeqBi54aD5x9_w" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_NV-Q4zLgEeqBi54aD5x9_w" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_NV-Q4jLgEeqBi54aD5x9_w" points="[-2, 11, 24, -56]$[57, 65, 83, -2]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_NWAGEDLgEeqBi54aD5x9_w" id="(0.3333333333333333,0.13333333333333333)"/>
    </edges>
    <edges xmi:id="_OLim8DLgEeqBi54aD5x9_w" type="Transition" element="_OLh_4DLgEeqBi54aD5x9_w" source="_N0_IIDLgEeqBi54aD5x9_w" target="_BB0XrTLgEeqBi54aD5x9_w">
      <children xsi:type="notation:DecorationNode" xmi:id="_OLim9DLgEeqBi54aD5x9_w" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_OLim9TLgEeqBi54aD5x9_w"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_OLim9jLgEeqBi54aD5x9_w" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_OLim8TLgEeqBi54aD5x9_w" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_OLim8zLgEeqBi54aD5x9_w" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_OLim8jLgEeqBi54aD5x9_w" points="[1, 9, 2, -28]$[1, 30, 2, -7]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_OLkcIDLgEeqBi54aD5x9_w" id="(0.2,0.26666666666666666)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_OLkcITLgEeqBi54aD5x9_w" id="(0.34705882352941175,0.1509433962264151)"/>
    </edges>
    <edges xmi:id="_QMsmYDLgEeqBi54aD5x9_w" type="Transition" element="_QMr_UDLgEeqBi54aD5x9_w" source="_tWyXcDLfEeqBi54aD5x9_w" target="_BB0XoDLgEeqBi54aD5x9_w">
      <children xsi:type="notation:DecorationNode" xmi:id="_QMtNcDLgEeqBi54aD5x9_w" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_QMtNcTLgEeqBi54aD5x9_w"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_QMtNcjLgEeqBi54aD5x9_w" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_QMsmYTLgEeqBi54aD5x9_w" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_QMsmYzLgEeqBi54aD5x9_w" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_QMsmYjLgEeqBi54aD5x9_w" points="[13, 1, -130, 1]$[145, -11, 2, -11]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_QMubkDLgEeqBi54aD5x9_w" id="(0.9403669724770642,0.05367231638418079)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_QMubkTLgEeqBi54aD5x9_w" id="(0.24311926605504589,0.03389830508474576)"/>
    </edges>
    <edges xmi:id="_X13XMDLgEeqBi54aD5x9_w" type="Transition" element="_X12JEDLgEeqBi54aD5x9_w" source="_BB0XoDLgEeqBi54aD5x9_w" target="_tWyXcDLfEeqBi54aD5x9_w">
      <children xsi:type="notation:DecorationNode" xmi:id="_X13XNDLgEeqBi54aD5x9_w" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_X13XNTLgEeqBi54aD5x9_w"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_X13XNjLgEeqBi54aD5x9_w" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_X13XMTLgEeqBi54aD5x9_w" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_X13XMzLgEeqBi54aD5x9_w" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_X13XMjLgEeqBi54aD5x9_w" points="[0, 0, 88, 2]$[-83, -87, 5, -85]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_X14lUDLgEeqBi54aD5x9_w" id="(0.0,0.23163841807909605)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_X14lUTLgEeqBi54aD5x9_w" id="(0.9587155963302753,0.2457627118644068)"/>
    </edges>
    <edges xmi:id="_n1akIDLgEeqBi54aD5x9_w" type="Transition" element="_n1ZWADLgEeqBi54aD5x9_w" source="_BB0XoDLgEeqBi54aD5x9_w" target="_Hn7VcKJ5EeaA1L71UkDjYA">
      <children xsi:type="notation:DecorationNode" xmi:id="_n1akJDLgEeqBi54aD5x9_w" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_n1akJTLgEeqBi54aD5x9_w"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_n1akJjLgEeqBi54aD5x9_w" x="45" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_n1akITLgEeqBi54aD5x9_w" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_n1akIzLgEeqBi54aD5x9_w" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_n1akIjLgEeqBi54aD5x9_w" points="[0, 4, 673, 95]$[0, 55, 673, 146]$[-639, 55, 34, 146]$[-639, -86, 34, 5]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_n1cZUDLgEeqBi54aD5x9_w" id="(0.5137614678899083,0.9887005649717514)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_n1cZUTLgEeqBi54aD5x9_w" id="(0.32653061224489793,0.9056603773584906)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
