<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_rmdbsDY0EeqlCYq90qedyw" specification="@EventDriven&#xA;&#xA;interface:&#xA;in event push&#xA;in event hold&#xA;in event dbl&#xA;&#xA;internal:&#xA;var br: integer" name="sls">
    <regions xmi:id="_rmeCyTY0EeqlCYq90qedyw" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_rmfQ4zY0EeqlCYq90qedyw">
        <outgoingTransitions xmi:id="_rmiUMDY0EeqlCYq90qedyw" target="_rmf39zY0EeqlCYq90qedyw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_rmf39zY0EeqlCYq90qedyw" name="off" incomingTransitions="_rmiUMDY0EeqlCYq90qedyw _UEFroDY2EeqlCYq90qedyw">
        <outgoingTransitions xmi:id="_O6LA8DY1EeqlCYq90qedyw" specification="push" target="_MmEQUDY1EeqlCYq90qedyw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_MmEQUDY1EeqlCYq90qedyw" name="on" incomingTransitions="_O6LA8DY1EeqlCYq90qedyw">
        <outgoingTransitions xmi:id="_UEFroDY2EeqlCYq90qedyw" specification="push" target="_rmf39zY0EeqlCYq90qedyw"/>
        <regions xmi:id="_V2D_kDY2EeqlCYq90qedyw" name="r1">
          <vertices xsi:type="sgraph:State" xmi:id="_W_RDUDY2EeqlCYq90qedyw" name="dimmed" incomingTransitions="_h-PSUDY2EeqlCYq90qedyw">
            <outgoingTransitions xmi:id="_BnvPoDY3EeqlCYq90qedyw" specification="dbl / br = 5" target="_ZYXosDY2EeqlCYq90qedyw"/>
            <regions xmi:id="_W_RqYDY2EeqlCYq90qedyw" name="r1">
              <vertices xsi:type="sgraph:Entry" xmi:id="_jyooIDY2EeqlCYq90qedyw">
                <outgoingTransitions xmi:id="_pwJvcDY2EeqlCYq90qedyw" specification="" target="_kN_ucDY2EeqlCYq90qedyw"/>
              </vertices>
              <vertices xsi:type="sgraph:State" xmi:id="_kN_ucDY2EeqlCYq90qedyw" name="increasing" incomingTransitions="_pwJvcDY2EeqlCYq90qedyw _yhrPcDY2EeqlCYq90qedyw _2q0PEDY2EeqlCYq90qedyw">
                <outgoingTransitions xmi:id="_rkHncDY2EeqlCYq90qedyw" specification="hold [br==5] / br = 4" target="_k7UugDY2EeqlCYq90qedyw"/>
                <outgoingTransitions xmi:id="_yhrPcDY2EeqlCYq90qedyw" specification="hold [br &lt; 5] / br++" target="_kN_ucDY2EeqlCYq90qedyw"/>
              </vertices>
              <vertices xsi:type="sgraph:State" xmi:id="_k7UugDY2EeqlCYq90qedyw" name="decreasing" incomingTransitions="_rkHncDY2EeqlCYq90qedyw _6Gr5ADY2EeqlCYq90qedyw _LV5XADY3EeqlCYq90qedyw">
                <outgoingTransitions xmi:id="_2q0PEDY2EeqlCYq90qedyw" specification="hold [br == 1] / br =2" target="_kN_ucDY2EeqlCYq90qedyw"/>
                <outgoingTransitions xmi:id="_6Gr5ADY2EeqlCYq90qedyw" specification="hold [ br > 1] / br--" target="_k7UugDY2EeqlCYq90qedyw"/>
              </vertices>
            </regions>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_ZYXosDY2EeqlCYq90qedyw" name="max" incomingTransitions="_BnvPoDY3EeqlCYq90qedyw">
            <outgoingTransitions xmi:id="_LV5XADY3EeqlCYq90qedyw" specification="hold / br = 4" target="_k7UugDY2EeqlCYq90qedyw"/>
          </vertices>
          <vertices xsi:type="sgraph:Entry" xmi:id="_hWsxMDY2EeqlCYq90qedyw" kind="DEEP_HISTORY">
            <outgoingTransitions xmi:id="_h-PSUDY2EeqlCYq90qedyw" specification="" target="_W_RDUDY2EeqlCYq90qedyw"/>
          </vertices>
        </regions>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_rmeCxjY0EeqlCYq90qedyw" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_rmdbsDY0EeqlCYq90qedyw" measurementUnit="Pixel">
    <children xmi:id="_rmep0DY0EeqlCYq90qedyw" type="Region" element="_rmeCyTY0EeqlCYq90qedyw">
      <children xsi:type="notation:DecorationNode" xmi:id="_rmep0zY0EeqlCYq90qedyw" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_rmep1DY0EeqlCYq90qedyw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_rmep1TY0EeqlCYq90qedyw"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_rmfQ4DY0EeqlCYq90qedyw" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_rmfQ5DY0EeqlCYq90qedyw" type="Entry" element="_rmfQ4zY0EeqlCYq90qedyw">
          <children xmi:id="_rmf38DY0EeqlCYq90qedyw" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_rmf38zY0EeqlCYq90qedyw" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_rmf39DY0EeqlCYq90qedyw"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_rmf39TY0EeqlCYq90qedyw"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_rmf38TY0EeqlCYq90qedyw" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_rmf38jY0EeqlCYq90qedyw"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_rmfQ5TY0EeqlCYq90qedyw" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_rmfQ5jY0EeqlCYq90qedyw" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_rmf39jY0EeqlCYq90qedyw" x="70" y="20" width="15" height="15"/>
        </children>
        <children xmi:id="_rmgfAjY0EeqlCYq90qedyw" type="State" element="_rmf39zY0EeqlCYq90qedyw">
          <children xsi:type="notation:DecorationNode" xmi:id="_rmgfBjY0EeqlCYq90qedyw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_rmgfBzY0EeqlCYq90qedyw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_rmhGEDY0EeqlCYq90qedyw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_rmhtIDY0EeqlCYq90qedyw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_rmhtITY0EeqlCYq90qedyw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_rmhtIjY0EeqlCYq90qedyw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_rmhtIzY0EeqlCYq90qedyw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_rmgfAzY0EeqlCYq90qedyw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_rmgfBDY0EeqlCYq90qedyw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_rmhtJDY0EeqlCYq90qedyw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_rmhtJTY0EeqlCYq90qedyw" x="40" y="80" width="40" height="53"/>
        </children>
        <children xmi:id="_MmGFgDY1EeqlCYq90qedyw" type="State" element="_MmEQUDY1EeqlCYq90qedyw">
          <children xsi:type="notation:DecorationNode" xmi:id="_MmGskDY1EeqlCYq90qedyw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_MmGskTY1EeqlCYq90qedyw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_MmHToDY1EeqlCYq90qedyw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_MmHToTY1EeqlCYq90qedyw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_MmHTojY1EeqlCYq90qedyw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_MmHTozY1EeqlCYq90qedyw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_MmH6sDY1EeqlCYq90qedyw" type="StateFigureCompartment">
            <children xmi:id="_-4vSwDY2EeqlCYq90qedyw" type="Region" element="_V2D_kDY2EeqlCYq90qedyw">
              <children xsi:type="notation:DecorationNode" xmi:id="_-4vSwTY2EeqlCYq90qedyw" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_-4vSwjY2EeqlCYq90qedyw"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_-4vSwzY2EeqlCYq90qedyw"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_-4vSxDY2EeqlCYq90qedyw" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_-4vSxTY2EeqlCYq90qedyw" type="State" element="_W_RDUDY2EeqlCYq90qedyw">
                  <children xsi:type="notation:DecorationNode" xmi:id="_-4vSxjY2EeqlCYq90qedyw" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_-4vSxzY2EeqlCYq90qedyw"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_-4vSyDY2EeqlCYq90qedyw"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_-4vSyTY2EeqlCYq90qedyw" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_-4vSyjY2EeqlCYq90qedyw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_-4vSyzY2EeqlCYq90qedyw"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_-4vSzDY2EeqlCYq90qedyw" type="StateFigureCompartment">
                    <children xmi:id="_-4vSzTY2EeqlCYq90qedyw" type="Region" element="_W_RqYDY2EeqlCYq90qedyw">
                      <children xsi:type="notation:DecorationNode" xmi:id="_-4vSzjY2EeqlCYq90qedyw" type="RegionName">
                        <styles xsi:type="notation:ShapeStyle" xmi:id="_-4vSzzY2EeqlCYq90qedyw"/>
                        <layoutConstraint xsi:type="notation:Location" xmi:id="_-4vS0DY2EeqlCYq90qedyw"/>
                      </children>
                      <children xsi:type="notation:Shape" xmi:id="_-4vS0TY2EeqlCYq90qedyw" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                        <children xmi:id="_-4vS0jY2EeqlCYq90qedyw" type="Entry" element="_jyooIDY2EeqlCYq90qedyw">
                          <children xmi:id="_-4vS0zY2EeqlCYq90qedyw" type="BorderItemLabelContainer">
                            <children xsi:type="notation:DecorationNode" xmi:id="_-4vS1DY2EeqlCYq90qedyw" type="BorderItemLabel">
                              <styles xsi:type="notation:ShapeStyle" xmi:id="_-4vS1TY2EeqlCYq90qedyw"/>
                              <layoutConstraint xsi:type="notation:Location" xmi:id="_-4vS1jY2EeqlCYq90qedyw"/>
                            </children>
                            <styles xsi:type="notation:ShapeStyle" xmi:id="_-4vS1zY2EeqlCYq90qedyw" fontName="Verdana" lineColor="4210752"/>
                            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_-4vS2DY2EeqlCYq90qedyw"/>
                          </children>
                          <styles xsi:type="notation:ShapeStyle" xmi:id="_-4vS2TY2EeqlCYq90qedyw" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                          <styles xsi:type="notation:NamedStyle" xmi:id="_-4vS2jY2EeqlCYq90qedyw" name="allowColors"/>
                          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_-4vS2zY2EeqlCYq90qedyw" x="23" y="-35"/>
                        </children>
                        <children xmi:id="_-4vS3DY2EeqlCYq90qedyw" type="State" element="_kN_ucDY2EeqlCYq90qedyw">
                          <children xsi:type="notation:DecorationNode" xmi:id="_-4vS3TY2EeqlCYq90qedyw" type="StateName">
                            <styles xsi:type="notation:ShapeStyle" xmi:id="_-4vS3jY2EeqlCYq90qedyw"/>
                            <layoutConstraint xsi:type="notation:Location" xmi:id="_-4vS3zY2EeqlCYq90qedyw"/>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_-4vS4DY2EeqlCYq90qedyw" type="StateTextCompartment">
                            <children xsi:type="notation:Shape" xmi:id="_-4vS4TY2EeqlCYq90qedyw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_-4vS4jY2EeqlCYq90qedyw"/>
                            </children>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_-4vS4zY2EeqlCYq90qedyw" type="StateFigureCompartment"/>
                          <styles xsi:type="notation:ShapeStyle" xmi:id="_-4vS5DY2EeqlCYq90qedyw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                          <styles xsi:type="notation:FontStyle" xmi:id="_-4vS5TY2EeqlCYq90qedyw"/>
                          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_-4vS5jY2EeqlCYq90qedyw" name="isHorizontal" booleanValue="true"/>
                          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_-4vS5zY2EeqlCYq90qedyw" x="7" y="-2"/>
                        </children>
                        <children xmi:id="_-4vS6DY2EeqlCYq90qedyw" type="State" element="_k7UugDY2EeqlCYq90qedyw">
                          <children xsi:type="notation:DecorationNode" xmi:id="_-4vS6TY2EeqlCYq90qedyw" type="StateName">
                            <styles xsi:type="notation:ShapeStyle" xmi:id="_-4vS6jY2EeqlCYq90qedyw"/>
                            <layoutConstraint xsi:type="notation:Location" xmi:id="_-4vS6zY2EeqlCYq90qedyw"/>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_-4vS7DY2EeqlCYq90qedyw" type="StateTextCompartment">
                            <children xsi:type="notation:Shape" xmi:id="_-4vS7TY2EeqlCYq90qedyw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_-4vS7jY2EeqlCYq90qedyw"/>
                            </children>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_-4vS7zY2EeqlCYq90qedyw" type="StateFigureCompartment"/>
                          <styles xsi:type="notation:ShapeStyle" xmi:id="_-4vS8DY2EeqlCYq90qedyw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                          <styles xsi:type="notation:FontStyle" xmi:id="_-4vS8TY2EeqlCYq90qedyw"/>
                          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_-4vS8jY2EeqlCYq90qedyw" name="isHorizontal" booleanValue="true"/>
                          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_-4vS8zY2EeqlCYq90qedyw" x="159" y="74"/>
                        </children>
                        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_-4vS9DY2EeqlCYq90qedyw"/>
                      </children>
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_-4vS9TY2EeqlCYq90qedyw" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_-4vS9jY2EeqlCYq90qedyw"/>
                    </children>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_-4vS9zY2EeqlCYq90qedyw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_-4vS-DY2EeqlCYq90qedyw"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_-4vS-TY2EeqlCYq90qedyw" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_-4vS-jY2EeqlCYq90qedyw" x="7" y="31" width="306" height="289"/>
                </children>
                <children xmi:id="_-4vS-zY2EeqlCYq90qedyw" type="State" element="_ZYXosDY2EeqlCYq90qedyw">
                  <children xsi:type="notation:DecorationNode" xmi:id="_-4vS_DY2EeqlCYq90qedyw" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_-4vS_TY2EeqlCYq90qedyw"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_-4vS_jY2EeqlCYq90qedyw"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_-4vS_zY2EeqlCYq90qedyw" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_-4vTADY2EeqlCYq90qedyw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_-4vTATY2EeqlCYq90qedyw"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_-4vTAjY2EeqlCYq90qedyw" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_-4vTAzY2EeqlCYq90qedyw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_-4vTBDY2EeqlCYq90qedyw"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_-4vTBTY2EeqlCYq90qedyw" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_-4vTBjY2EeqlCYq90qedyw" x="351" y="302" width="40" height="53"/>
                </children>
                <children xmi:id="_-4vTBzY2EeqlCYq90qedyw" type="DeepHistory" element="_hWsxMDY2EeqlCYq90qedyw">
                  <children xmi:id="_-4vTCDY2EeqlCYq90qedyw" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_-4vTCTY2EeqlCYq90qedyw" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_-4vTCjY2EeqlCYq90qedyw"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_-4vTCzY2EeqlCYq90qedyw"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_-4vTDDY2EeqlCYq90qedyw" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_-4v50DY2EeqlCYq90qedyw"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_-4v50TY2EeqlCYq90qedyw" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                  <styles xsi:type="notation:NamedStyle" xmi:id="_-4v50jY2EeqlCYq90qedyw" name="allowColors"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_-4v50zY2EeqlCYq90qedyw" x="115" y="2" width="15" height="15"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_-4v51DY2EeqlCYq90qedyw"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_-4v51TY2EeqlCYq90qedyw" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_-4v51jY2EeqlCYq90qedyw"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_MmGFgTY1EeqlCYq90qedyw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_MmGFgjY1EeqlCYq90qedyw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_MmH6sTY1EeqlCYq90qedyw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_MmGFgzY1EeqlCYq90qedyw" x="177" y="27" width="446" height="438"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_rmfQ4TY0EeqlCYq90qedyw"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_rmep0TY0EeqlCYq90qedyw" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_rmfQ4jY0EeqlCYq90qedyw" x="52" y="4" width="659" height="515"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_rmi7QDY0EeqlCYq90qedyw" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_rmi7QjY0EeqlCYq90qedyw" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_rmi7QzY0EeqlCYq90qedyw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_rmi7RDY0EeqlCYq90qedyw"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_rmi7RTY0EeqlCYq90qedyw" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_rmi7RjY0EeqlCYq90qedyw"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_rmi7RzY0EeqlCYq90qedyw" x="10" y="10" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:BooleanValueStyle" xmi:id="_rmeCxzY0EeqlCYq90qedyw" name="inlineDefinitionSection"/>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_rmeCyDY0EeqlCYq90qedyw"/>
    <edges xmi:id="_rmiUMTY0EeqlCYq90qedyw" type="Transition" element="_rmiUMDY0EeqlCYq90qedyw" source="_rmfQ5DY0EeqlCYq90qedyw" target="_rmgfAjY0EeqlCYq90qedyw">
      <children xsi:type="notation:DecorationNode" xmi:id="_rmiUNTY0EeqlCYq90qedyw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_rmiUNjY0EeqlCYq90qedyw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_rmiUNzY0EeqlCYq90qedyw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_rmiUMjY0EeqlCYq90qedyw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_rmiUNDY0EeqlCYq90qedyw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_rmiUMzY0EeqlCYq90qedyw" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
    </edges>
    <edges xmi:id="_O6M2IDY1EeqlCYq90qedyw" type="Transition" element="_O6LA8DY1EeqlCYq90qedyw" source="_rmgfAjY0EeqlCYq90qedyw" target="_MmGFgDY1EeqlCYq90qedyw">
      <children xsi:type="notation:DecorationNode" xmi:id="_O6M2JDY1EeqlCYq90qedyw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_O6M2JTY1EeqlCYq90qedyw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_O6NdMDY1EeqlCYq90qedyw" x="-1" y="-10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_O6M2ITY1EeqlCYq90qedyw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_O6M2IzY1EeqlCYq90qedyw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_O6M2IjY1EeqlCYq90qedyw" points="[18, -13, -110, 59]$[120, -13, -8, 59]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_O6QggDY1EeqlCYq90qedyw" id="(0.01821493624772313,0.012298896379558489)"/>
    </edges>
    <edges xmi:id="_UEG5wDY2EeqlCYq90qedyw" type="Transition" element="_UEFroDY2EeqlCYq90qedyw" source="_MmGFgDY1EeqlCYq90qedyw" target="_rmgfAjY0EeqlCYq90qedyw">
      <children xsi:type="notation:DecorationNode" xmi:id="_UEHg0TY2EeqlCYq90qedyw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_UEHg0jY2EeqlCYq90qedyw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_UEHg0zY2EeqlCYq90qedyw" x="1" y="-6"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_UEG5wTY2EeqlCYq90qedyw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_UEHg0DY2EeqlCYq90qedyw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_UEG5wjY2EeqlCYq90qedyw" points="[0, 37, 120, 11]$[-102, 37, 18, 11]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_UEJWADY2EeqlCYq90qedyw" id="(0.0,0.12008356454158514)"/>
    </edges>
    <edges xmi:id="_h-QgcDY2EeqlCYq90qedyw" type="Transition" element="_h-PSUDY2EeqlCYq90qedyw" source="_-4vTBzY2EeqlCYq90qedyw" target="_-4vSxTY2EeqlCYq90qedyw">
      <children xsi:type="notation:DecorationNode" xmi:id="_h-QgdDY2EeqlCYq90qedyw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_h-QgdTY2EeqlCYq90qedyw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_h-RHgDY2EeqlCYq90qedyw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_h-QgcTY2EeqlCYq90qedyw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_h-QgczY2EeqlCYq90qedyw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_h-QgcjY2EeqlCYq90qedyw" points="[3, 5, -21, -44]$[29, 19, 5, -30]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_iKHyMDY2EeqlCYq90qedyw" id="(0.5,0.5)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_h-SVoDY2EeqlCYq90qedyw" id="(0.8022040353293899,0.12876042663749487)"/>
    </edges>
    <edges xmi:id="_pwKWgDY2EeqlCYq90qedyw" type="Transition" element="_pwJvcDY2EeqlCYq90qedyw" source="_-4vS0jY2EeqlCYq90qedyw" target="_-4vS3DY2EeqlCYq90qedyw">
      <children xsi:type="notation:DecorationNode" xmi:id="_pwK9kDY2EeqlCYq90qedyw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_pwK9kTY2EeqlCYq90qedyw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_pwK9kjY2EeqlCYq90qedyw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_pwKWgTY2EeqlCYq90qedyw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_pwKWgzY2EeqlCYq90qedyw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_pwKWgjY2EeqlCYq90qedyw" points="[3, 6, 9, -47]$[-5, 74, 1, 21]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_pwMLsDY2EeqlCYq90qedyw" id="(0.2,0.4666666666666667)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_pwMLsTY2EeqlCYq90qedyw" id="(0.19718309859154928,0.5660377358490566)"/>
    </edges>
    <edges xmi:id="_rkIOgDY2EeqlCYq90qedyw" type="Transition" element="_rkHncDY2EeqlCYq90qedyw" source="_-4vS3DY2EeqlCYq90qedyw" target="_-4vS6DY2EeqlCYq90qedyw">
      <children xsi:type="notation:DecorationNode" xmi:id="_rkI1kTY2EeqlCYq90qedyw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_rkI1kjY2EeqlCYq90qedyw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_rkI1kzY2EeqlCYq90qedyw" x="-7" y="-11"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_rkIOgTY2EeqlCYq90qedyw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_rkI1kDY2EeqlCYq90qedyw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_rkIOgjY2EeqlCYq90qedyw" points="[33, 12, -139, -52]$[176, 63, 4, -1]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_rkKDsDY2EeqlCYq90qedyw" id="(0.7702702702702703,0.03773584905660377)"/>
    </edges>
    <edges xmi:id="_yhsdkDY2EeqlCYq90qedyw" type="Transition" element="_yhrPcDY2EeqlCYq90qedyw" source="_-4vS3DY2EeqlCYq90qedyw" target="_-4vS3DY2EeqlCYq90qedyw">
      <children xsi:type="notation:DecorationNode" xmi:id="_yhsdlDY2EeqlCYq90qedyw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_yhsdlTY2EeqlCYq90qedyw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_yhsdljY2EeqlCYq90qedyw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_yhsdkTY2EeqlCYq90qedyw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_yhsdkzY2EeqlCYq90qedyw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_yhsdkjY2EeqlCYq90qedyw" points="[16, 10, 16, 10]$[46, 10, 46, 10]$[46, 55, 46, 55]$[4, 55, 4, 55]$[4, 19, 4, 19]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_yhuSwDY2EeqlCYq90qedyw" id="(0.7605633802816901,0.6226415094339622)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_yhuSwTY2EeqlCYq90qedyw" id="(0.7605633802816901,0.6226415094339622)"/>
    </edges>
    <edges xmi:id="_2q02IDY2EeqlCYq90qedyw" type="Transition" element="_2q0PEDY2EeqlCYq90qedyw" source="_-4vS6DY2EeqlCYq90qedyw" target="_-4vS3DY2EeqlCYq90qedyw">
      <children xsi:type="notation:DecorationNode" xmi:id="_2q1dMDY2EeqlCYq90qedyw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_2q1dMTY2EeqlCYq90qedyw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_2q1dMjY2EeqlCYq90qedyw" x="-7" y="-10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_2q02ITY2EeqlCYq90qedyw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_2q02IzY2EeqlCYq90qedyw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_2q02IjY2EeqlCYq90qedyw" points="[-7, -3, 139, 57]$[-144, -55, 2, 5]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_2q2rUDY2EeqlCYq90qedyw" id="(0.10810810810810811,0.5660377358490566)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_2q2rUTY2EeqlCYq90qedyw" id="(0.2112676056338028,0.9056603773584906)"/>
    </edges>
    <edges xmi:id="_6GsgEDY2EeqlCYq90qedyw" type="Transition" element="_6Gr5ADY2EeqlCYq90qedyw" source="_-4vS6DY2EeqlCYq90qedyw" target="_-4vS6DY2EeqlCYq90qedyw">
      <children xsi:type="notation:DecorationNode" xmi:id="_6GsgFDY2EeqlCYq90qedyw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_6GsgFTY2EeqlCYq90qedyw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_6GsgFjY2EeqlCYq90qedyw" x="-17" y="18"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_6GsgETY2EeqlCYq90qedyw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_6GsgEzY2EeqlCYq90qedyw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_6GsgEjY2EeqlCYq90qedyw" points="[35, 15, 35, 15]$[62, 15, 62, 15]$[62, 48, 62, 48]$[22, 48, 22, 48]$[22, 24, 22, 24]"/>
    </edges>
    <edges xmi:id="_BnwdwDY3EeqlCYq90qedyw" type="Transition" element="_BnvPoDY3EeqlCYq90qedyw" source="_-4vSxTY2EeqlCYq90qedyw" target="_-4vS-zY2EeqlCYq90qedyw">
      <children xsi:type="notation:DecorationNode" xmi:id="_BnwdxDY3EeqlCYq90qedyw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_BnwdxTY3EeqlCYq90qedyw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_BnwdxjY3EeqlCYq90qedyw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_BnwdwTY3EeqlCYq90qedyw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_BnwdwzY3EeqlCYq90qedyw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_BnwdwjY3EeqlCYq90qedyw" points="[6, 8, -70, -108]$[80, 118, 4, 2]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Bny6ADY3EeqlCYq90qedyw" id="(0.9803921568627451,0.5640138408304498)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Bny6ATY3EeqlCYq90qedyw" id="(0.9,0.3584905660377358)"/>
    </edges>
    <edges xmi:id="_LV8aUDY3EeqlCYq90qedyw" type="Transition" element="_LV5XADY3EeqlCYq90qedyw" source="_-4vS-zY2EeqlCYq90qedyw" target="_-4vS6DY2EeqlCYq90qedyw">
      <children xsi:type="notation:DecorationNode" xmi:id="_LV8aVDY3EeqlCYq90qedyw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_LV8aVTY3EeqlCYq90qedyw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_LV8aVjY3EeqlCYq90qedyw" x="-10" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_LV8aUTY3EeqlCYq90qedyw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_LV8aUzY3EeqlCYq90qedyw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_LV8aUjY3EeqlCYq90qedyw" points="[-4, 18, 147, 91]$[-138, 18, 13, 91]$[-138, -66, 13, 7]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_LV-PgDY3EeqlCYq90qedyw" id="(0.125,0.4716981132075471)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_LV-PgTY3EeqlCYq90qedyw" id="(0.25675675675675674,0.8679245283018868)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
