<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_rmdbsDY0EeqlCYq90qedyw" specification="@EventDriven&#xA;&#xA;interface:&#xA;in event push&#xA;in event hold&#xA;in event dbl&#xA;// dbl means &#xA;// &quot;double push and &#xA;// release&quot;&#xA;&#xA;internal:&#xA;var br: integer" name="sls">
    <regions xmi:id="_rmeCyTY0EeqlCYq90qedyw" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_rmfQ4zY0EeqlCYq90qedyw">
        <outgoingTransitions xmi:id="_rmiUMDY0EeqlCYq90qedyw" specification="/ br = 1" target="_rmf39zY0EeqlCYq90qedyw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_rmf39zY0EeqlCYq90qedyw" name="off" incomingTransitions="_rmiUMDY0EeqlCYq90qedyw _UEFroDY2EeqlCYq90qedyw">
        <outgoingTransitions xmi:id="_O6LA8DY1EeqlCYq90qedyw" specification="push" target="_MmEQUDY1EeqlCYq90qedyw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_MmEQUDY1EeqlCYq90qedyw" name="on" incomingTransitions="_O6LA8DY1EeqlCYq90qedyw">
        <outgoingTransitions xmi:id="_UEFroDY2EeqlCYq90qedyw" specification="push" target="_rmf39zY0EeqlCYq90qedyw"/>
        <regions xmi:id="_V2D_kDY2EeqlCYq90qedyw" name="r1">
          <vertices xsi:type="sgraph:State" xmi:id="_lT5KEDY3EeqlCYq90qedyw" specification="hold / br++" name="increasing" incomingTransitions="_3NVQ0DY3EeqlCYq90qedyw _6eEo0DY3EeqlCYq90qedyw">
            <outgoingTransitions xmi:id="_vvtBoDY3EeqlCYq90qedyw" specification="hold [br == 5] / br--" target="_oc14DTY3EeqlCYq90qedyw"/>
            <outgoingTransitions xmi:id="_ycszYDY3EeqlCYq90qedyw" specification="dbl / br = 5" target="_oc14DTY3EeqlCYq90qedyw"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_oc14DTY3EeqlCYq90qedyw" specification="hold / br--&#xA;dbl / br = 5" name="decreasing" incomingTransitions="_vvtBoDY3EeqlCYq90qedyw _ycszYDY3EeqlCYq90qedyw">
            <outgoingTransitions xmi:id="_6eEo0DY3EeqlCYq90qedyw" specification="hold [br==1] / br++" target="_lT5KEDY3EeqlCYq90qedyw"/>
          </vertices>
          <vertices xsi:type="sgraph:Entry" xmi:id="_2npJ0DY3EeqlCYq90qedyw" kind="SHALLOW_HISTORY">
            <outgoingTransitions xmi:id="_3NVQ0DY3EeqlCYq90qedyw" specification="" target="_lT5KEDY3EeqlCYq90qedyw"/>
          </vertices>
        </regions>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_rmeCxjY0EeqlCYq90qedyw" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_rmdbsDY0EeqlCYq90qedyw" measurementUnit="Pixel">
    <children xmi:id="_rmep0DY0EeqlCYq90qedyw" type="Region" element="_rmeCyTY0EeqlCYq90qedyw">
      <children xsi:type="notation:DecorationNode" xmi:id="_rmep0zY0EeqlCYq90qedyw" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_rmep1DY0EeqlCYq90qedyw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_rmep1TY0EeqlCYq90qedyw"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_rmfQ4DY0EeqlCYq90qedyw" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_rmfQ5DY0EeqlCYq90qedyw" type="Entry" element="_rmfQ4zY0EeqlCYq90qedyw">
          <children xmi:id="_rmf38DY0EeqlCYq90qedyw" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_rmf38zY0EeqlCYq90qedyw" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_rmf39DY0EeqlCYq90qedyw"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_rmf39TY0EeqlCYq90qedyw"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_rmf38TY0EeqlCYq90qedyw" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_rmf38jY0EeqlCYq90qedyw"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_rmfQ5TY0EeqlCYq90qedyw" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_rmfQ5jY0EeqlCYq90qedyw" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_rmf39jY0EeqlCYq90qedyw" x="70" y="20" width="15" height="15"/>
        </children>
        <children xmi:id="_rmgfAjY0EeqlCYq90qedyw" type="State" element="_rmf39zY0EeqlCYq90qedyw">
          <children xsi:type="notation:DecorationNode" xmi:id="_rmgfBjY0EeqlCYq90qedyw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_rmgfBzY0EeqlCYq90qedyw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_rmhGEDY0EeqlCYq90qedyw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_rmhtIDY0EeqlCYq90qedyw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_rmhtITY0EeqlCYq90qedyw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_rmhtIjY0EeqlCYq90qedyw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_rmhtIzY0EeqlCYq90qedyw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_rmgfAzY0EeqlCYq90qedyw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_rmgfBDY0EeqlCYq90qedyw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_rmhtJDY0EeqlCYq90qedyw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_rmhtJTY0EeqlCYq90qedyw" x="40" y="80" width="40" height="53"/>
        </children>
        <children xmi:id="_MmGFgDY1EeqlCYq90qedyw" type="State" element="_MmEQUDY1EeqlCYq90qedyw">
          <children xsi:type="notation:DecorationNode" xmi:id="_MmGskDY1EeqlCYq90qedyw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_MmGskTY1EeqlCYq90qedyw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_MmHToDY1EeqlCYq90qedyw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_MmHToTY1EeqlCYq90qedyw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_MmHTojY1EeqlCYq90qedyw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_MmHTozY1EeqlCYq90qedyw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_MmH6sDY1EeqlCYq90qedyw" type="StateFigureCompartment">
            <children xmi:id="_-4vSwDY2EeqlCYq90qedyw" type="Region" element="_V2D_kDY2EeqlCYq90qedyw">
              <children xsi:type="notation:DecorationNode" xmi:id="_-4vSwTY2EeqlCYq90qedyw" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_-4vSwjY2EeqlCYq90qedyw"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_-4vSwzY2EeqlCYq90qedyw"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_-4vSxDY2EeqlCYq90qedyw" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_lT378DY3EeqlCYq90qedyw" type="State" element="_lT5KEDY3EeqlCYq90qedyw">
                  <children xsi:type="notation:DecorationNode" xmi:id="_lT378TY3EeqlCYq90qedyw" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_lT378jY3EeqlCYq90qedyw"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_lT378zY3EeqlCYq90qedyw"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_lT379DY3EeqlCYq90qedyw" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_lT379TY3EeqlCYq90qedyw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_lT379jY3EeqlCYq90qedyw"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_lT379zY3EeqlCYq90qedyw" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_lT37-DY3EeqlCYq90qedyw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_lT37-TY3EeqlCYq90qedyw"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_lT37-jY3EeqlCYq90qedyw" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_lT37-zY3EeqlCYq90qedyw" x="7" y="6"/>
                </children>
                <children xmi:id="_oc14ATY3EeqlCYq90qedyw" type="State" element="_oc14DTY3EeqlCYq90qedyw">
                  <children xsi:type="notation:DecorationNode" xmi:id="_oc14AjY3EeqlCYq90qedyw" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_oc14AzY3EeqlCYq90qedyw"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_oc14BDY3EeqlCYq90qedyw"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_oc14BTY3EeqlCYq90qedyw" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_oc14BjY3EeqlCYq90qedyw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_oc14BzY3EeqlCYq90qedyw"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_oc14CDY3EeqlCYq90qedyw" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_oc14CTY3EeqlCYq90qedyw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_oc14CjY3EeqlCYq90qedyw"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_oc14CzY3EeqlCYq90qedyw" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_oc14DDY3EeqlCYq90qedyw" x="159" y="114"/>
                </children>
                <children xmi:id="_2npw4DY3EeqlCYq90qedyw" type="ShallowHistory" element="_2npJ0DY3EeqlCYq90qedyw">
                  <children xmi:id="_2npw5DY3EeqlCYq90qedyw" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_2npw5zY3EeqlCYq90qedyw" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_2npw6DY3EeqlCYq90qedyw"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_2npw6TY3EeqlCYq90qedyw"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_2npw5TY3EeqlCYq90qedyw" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_2npw5jY3EeqlCYq90qedyw"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_2npw4TY3EeqlCYq90qedyw" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                  <styles xsi:type="notation:NamedStyle" xmi:id="_2npw4jY3EeqlCYq90qedyw" name="allowColors"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_2npw4zY3EeqlCYq90qedyw" x="38" y="-24"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_-4v51DY2EeqlCYq90qedyw"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_-4v51TY2EeqlCYq90qedyw" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_-4v51jY2EeqlCYq90qedyw"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_MmGFgTY1EeqlCYq90qedyw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_MmGFgjY1EeqlCYq90qedyw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_MmH6sTY1EeqlCYq90qedyw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_MmGFgzY1EeqlCYq90qedyw" x="177" y="27" width="290" height="270"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_rmfQ4TY0EeqlCYq90qedyw"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_rmep0TY0EeqlCYq90qedyw" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_rmfQ4jY0EeqlCYq90qedyw" x="52" y="4" width="524" height="348"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_rmi7QDY0EeqlCYq90qedyw" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_rmi7QjY0EeqlCYq90qedyw" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_rmi7QzY0EeqlCYq90qedyw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_rmi7RDY0EeqlCYq90qedyw"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_rmi7RTY0EeqlCYq90qedyw" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_rmi7RjY0EeqlCYq90qedyw"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_rmi7RzY0EeqlCYq90qedyw" x="10" y="10" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:BooleanValueStyle" xmi:id="_rmeCxzY0EeqlCYq90qedyw" name="inlineDefinitionSection"/>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_rmeCyDY0EeqlCYq90qedyw"/>
    <edges xmi:id="_rmiUMTY0EeqlCYq90qedyw" type="Transition" element="_rmiUMDY0EeqlCYq90qedyw" source="_rmfQ5DY0EeqlCYq90qedyw" target="_rmgfAjY0EeqlCYq90qedyw">
      <children xsi:type="notation:DecorationNode" xmi:id="_rmiUNTY0EeqlCYq90qedyw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_rmiUNjY0EeqlCYq90qedyw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_rmiUNzY0EeqlCYq90qedyw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_rmiUMjY0EeqlCYq90qedyw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_rmiUNDY0EeqlCYq90qedyw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_rmiUMzY0EeqlCYq90qedyw" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
    </edges>
    <edges xmi:id="_O6M2IDY1EeqlCYq90qedyw" type="Transition" element="_O6LA8DY1EeqlCYq90qedyw" source="_rmgfAjY0EeqlCYq90qedyw" target="_MmGFgDY1EeqlCYq90qedyw">
      <children xsi:type="notation:DecorationNode" xmi:id="_O6M2JDY1EeqlCYq90qedyw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_O6M2JTY1EeqlCYq90qedyw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_O6NdMDY1EeqlCYq90qedyw" x="-1" y="-10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_O6M2ITY1EeqlCYq90qedyw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_O6M2IzY1EeqlCYq90qedyw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_O6M2IjY1EeqlCYq90qedyw" points="[18, 23, -110, 95]$[120, 23, -8, 95]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_O6QggDY1EeqlCYq90qedyw" id="(0.028440865369251903,0.020374398153306328)"/>
    </edges>
    <edges xmi:id="_UEG5wDY2EeqlCYq90qedyw" type="Transition" element="_UEFroDY2EeqlCYq90qedyw" source="_MmGFgDY1EeqlCYq90qedyw" target="_rmgfAjY0EeqlCYq90qedyw">
      <children xsi:type="notation:DecorationNode" xmi:id="_UEHg0TY2EeqlCYq90qedyw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_UEHg0jY2EeqlCYq90qedyw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_UEHg0zY2EeqlCYq90qedyw" x="-3" y="14"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_UEG5wTY2EeqlCYq90qedyw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_UEHg0DY2EeqlCYq90qedyw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_UEG5wjY2EeqlCYq90qedyw" points="[0, 21, 120, -4]$[-102, 21, 18, -4]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_UEJWADY2EeqlCYq90qedyw" id="(0.0,0.19893088616511653)"/>
    </edges>
    <edges xmi:id="_vvuPwDY3EeqlCYq90qedyw" type="Transition" element="_vvtBoDY3EeqlCYq90qedyw" source="_lT378DY3EeqlCYq90qedyw" target="_oc14ATY3EeqlCYq90qedyw">
      <children xsi:type="notation:DecorationNode" xmi:id="_vvuPxDY3EeqlCYq90qedyw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_vvuPxTY3EeqlCYq90qedyw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_vvuPxjY3EeqlCYq90qedyw" x="-4" y="-11"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_vvuPwTY3EeqlCYq90qedyw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_vvuPwzY3EeqlCYq90qedyw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_vvuPwjY3EeqlCYq90qedyw" points="[39, 21, -121, -69]$[164, 84, 4, -6]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_vvwE8DY3EeqlCYq90qedyw" id="(0.6144578313253012,0.12962962962962962)"/>
    </edges>
    <edges xmi:id="_ycuokDY3EeqlCYq90qedyw" type="Transition" element="_ycszYDY3EeqlCYq90qedyw" source="_lT378DY3EeqlCYq90qedyw" target="_oc14ATY3EeqlCYq90qedyw">
      <children xsi:type="notation:DecorationNode" xmi:id="_ycuolDY3EeqlCYq90qedyw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_ycuolTY3EeqlCYq90qedyw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_ycuoljY3EeqlCYq90qedyw"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_ycuokTY3EeqlCYq90qedyw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_ycuokzY3EeqlCYq90qedyw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_ycuokjY3EeqlCYq90qedyw" points="[13, 10, -136, -100]$[97, 71, -52, -39]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ycwdwDY3EeqlCYq90qedyw" id="(0.7108433734939759,0.7924528301886793)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ycwdwTY3EeqlCYq90qedyw" id="(0.6746987951807228,0.8333333333333334)"/>
    </edges>
    <edges xmi:id="_3NV34DY3EeqlCYq90qedyw" type="Transition" element="_3NVQ0DY3EeqlCYq90qedyw" source="_2npw4DY3EeqlCYq90qedyw" target="_lT378DY3EeqlCYq90qedyw">
      <children xsi:type="notation:DecorationNode" xmi:id="_3NWe8TY3EeqlCYq90qedyw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_3NWe8jY3EeqlCYq90qedyw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_3NWe8zY3EeqlCYq90qedyw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_3NV34TY3EeqlCYq90qedyw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_3NWe8DY3EeqlCYq90qedyw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_3NV34jY3EeqlCYq90qedyw" points="[-7, 1, 110, -17]$[-114, 7, 3, -11]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_3oLZwDY3EeqlCYq90qedyw" id="(0.5,0.5)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_3NXtEDY3EeqlCYq90qedyw" id="(0.4457831325301205,0.24528301886792453)"/>
    </edges>
    <edges xmi:id="_6eFP4DY3EeqlCYq90qedyw" type="Transition" element="_6eEo0DY3EeqlCYq90qedyw" source="_oc14ATY3EeqlCYq90qedyw" target="_lT378DY3EeqlCYq90qedyw">
      <children xsi:type="notation:DecorationNode" xmi:id="_6eFP5DY3EeqlCYq90qedyw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_6eFP5TY3EeqlCYq90qedyw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_6eFP5jY3EeqlCYq90qedyw" x="-1" y="-14"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_6eFP4TY3EeqlCYq90qedyw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_6eFP4zY3EeqlCYq90qedyw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_6eFP4jY3EeqlCYq90qedyw" points="[-18, -11, 117, 72]$[-132, -81, 3, 2]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_6eHFEDY3EeqlCYq90qedyw" id="(0.24096385542168675,0.4444444444444444)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_6eHFETY3EeqlCYq90qedyw" id="(0.4578313253012048,0.9622641509433962)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
